<th:block th:fragment="script">
  <script th:inline="javascript">
    let dataFromBackend = /*[[${active}]]*/ 'Dữ liệu về NavItemActive từ backend';
    let listNavItem = ['home','shop','about','contact'];
    for ( let i = 0; i < listNavItem.length; i++){
      if(dataFromBackend == listNavItem[i]){
        document.getElementById(`${dataFromBackend}`).classList.add("active");
        break;
      }
    }

    const idUser = localStorage.getItem("idUser");
    const fullNameUser = localStorage.getItem("fullNameUser");
    const userAndCart = document.getElementById("userAndCart");
    const loginButton = document.getElementById("loginButton");
    if(idUser && fullNameUser){
      document.getElementById('fullNameUser').innerHTML = fullNameUser;
      loginButton.replaceWith('');
    } else {
      userAndCart.replaceWith('');
    }
  </script>
  <script src="/assets/admin/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="/assets/client/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/client/js/tiny-slider.js"></script>
  <script src="/assets/client/js/custom.js"></script>
  <script src="/assets/web-toast/src/webToast.js"></script>

</th:block>